$font-family-cera_proregular: 'cera_proregular', serif;
$font-family-cera_probold: 'cera_probold', serif;
$font-family-cera_proitalic: 'cera_proitalic', serif;
$primary_green-color: #46A358;
$primary_white-color: #edf6ee;
$text-color: #3d3d3d;
$secondary-text-color: #727272;

@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cerapro-bold-webfont.eot');
  src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-bold-webfont.woff') format('woff'),
  url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cerapro-regular-webfont.eot');
  src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-regular-webfont.woff') format('woff'),
  url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cera_proitalic';
  src: url('../fonts/cerapro-italic-webfont.eot');
  src: url('../fonts/cerapro-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-italic-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-italic-webfont.woff') format('woff'),
  url('../fonts/cerapro-italic-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-italic-webfont.svg#cera_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

header {
  padding-top: 30px;
  margin-bottom: 10px;

  .nav_container {
    max-width: 1200px;
    margin: auto;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    justify-content: space-between;

    nav {
      & > ul > li:after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background-color: $primary_green-color;
        margin-top: 32px;
        transition: 0.4s;
      }

      ul {
        display: flex;
        gap: 50px;
        list-style: none;

        li {
          position: relative;
          text-decoration: none;

          &:hover .submenu {
            height: 250px;
            overflow: visible;
          }

          .navigation {
            font-weight: 400;
            font-size: 16px;
            color: $text-color;
            text-decoration: none;
            font-family: $font-family-cera_proregular;

            &:hover {
              font-weight: 700;
              font-size: 16px;
              color: $text-color;
            }
          }

          &:hover::after {
            width: 100%;
          }

          &:hover {
            > .submenu {
              display: flex;
              flex-direction: column;
              opacity: 1;
              visibility: visible;
            }
          }

          .submenu {
            display: none;
            position: absolute;
            background-color: $primary_white-color;
            font-weight: 400;
            color: $text-color;
            font-family: $font-family-cera_proregular;
            width: 188px;
            max-height: 0;
            left: -35px;
            top: 67px;
            overflow: hidden;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            z-index: 1;
            transition: all 0.3s ease;
            opacity: 0;
            visibility: hidden;
            gap: 0;

            & > li a {
              text-decoration: none;

              &:hover a {
                color: #ffffff;
                text-decoration: none;
              }
            }

            li {
              width: 100%;
              background-color: $primary_white-color;
              padding: 7px 14px;
              text-decoration: none;

              &:hover {
                font-weight: 700;
                font-size: 16px;
                color: $text-color;
                background-color: #1a712a;

                & > a {
                  color: #ffffff;
                }

                .arrow-image {
                  content: url("../images/small_whiteArrowRight.svg");
                }
              }

              &:hover > .submenu-2 {
                display: block;
                font-weight: 400;
                font-size: 16px;
                color: $text-color;
                text-decoration: none;
                font-family: $font-family-cera_proregular;
                min-width: 178px;
                position: absolute;
                left: 188px;
                top: -99px;
                z-index: 2;
              }

              .submenu-2 {
                display: none;
                position: absolute;
                left: 100%;
                top: 0;
                background-color: $primary_white-color;
                width: 178px;

                li:hover a {
                  color: white !important;
                  font-weight: 700;
                }
              }

              .has-arrow {
                position: relative;
              }

              .arrow-image {
                position: absolute;
                top: 39%;
                right: 10px;
              }
            }
          }
        }
      }
    }

    .icons_container {
      display: flex;
      gap: 5px;
      .search:before {
        content: url("../images/search_icon.svg");
        margin-right: 30px;
      }

      .search:hover:before {
        content: url("../images/search_icon_hover.svg");
      }

      .basket:before {
        content: url("../images/shopping_basket.svg");
        margin-right: 30px;
      }

      .basket:hover:before {
        content: url("../images/shopping_basket_hover.svg");
      }

      .heart:before {
        content: url("../images/heart.svg");
        margin-right: 10px;
      }

      .login_link {
        background-color: $primary_green-color;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        padding: 7px 17px;
        gap: 4px;
        border-radius: 6px;
        text-decoration: none;
        display: flex;
        margin-bottom: 20px;
        font-family: $font-family-cera_proregular;

        &:hover {
          background-color: #3d8b4e;
          transform: rotate(360deg);
          transition: 0.4s;
        }
      }
    }
  }
  .submenu li .submenu-2 li a, .submenu li a {
    color: black;
  }
}









