@font-face {
  font-family: 'cera_probold';
  src: url("../fonts/cerapro-bold-webfont.eot");
  src: url("../fonts/cerapro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-bold-webfont.woff2") format("woff2"), url("../fonts/cerapro-bold-webfont.woff") format("woff"), url("../fonts/cerapro-bold-webfont.ttf") format("truetype"), url("../fonts/cerapro-bold-webfont.svg#cera_probold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cera_proregular';
  src: url("../fonts/cerapro-regular-webfont.eot");
  src: url("../fonts/cerapro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-regular-webfont.woff2") format("woff2"), url("../fonts/cerapro-regular-webfont.woff") format("woff"), url("../fonts/cerapro-regular-webfont.ttf") format("truetype"), url("../fonts/cerapro-regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cera_proitalic';
  src: url("../fonts/cerapro-italic-webfont.eot");
  src: url("../fonts/cerapro-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/cerapro-italic-webfont.woff2") format("woff2"), url("../fonts/cerapro-italic-webfont.woff") format("woff"), url("../fonts/cerapro-italic-webfont.ttf") format("truetype"), url("../fonts/cerapro-italic-webfont.svg#cera_proitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.d-flex {
  display: flex; }

main h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3d3d3d;
  font-family: "cera_proregular", serif; }
main h1 {
  font-weight: 900;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  color: #3d3d3d;
  text-align: left;
  margin-bottom: 7px;
  font-family: "cera_probold", serif; }
main section p {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #727272;
  margin-bottom: 44px;
  font-family: "cera_proregular", serif; }
main .main_container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%); }
  main .main_container .main_text_container {
    width: 100%; }
  main .main_container .plants_img {
    width: 100%;
    justify-content: space-between;
    align-items: center; }
  main .main_container .shopping_link {
    background-color: #46A358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    padding: 9px 27px;
    margin-bottom: 85px;
    text-decoration: none;
    font-family: "cera_proregular", serif; }
    main .main_container .shopping_link:hover {
      background-color: #3d8b4e; }
main .main_products_container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 40px; }
  main .main_products_container .category_list {
    max-width: 100%;
    background: #fbfbfb;
    font-family: "cera_proregular", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d; }
    main .main_products_container .category_list .categories {
      display: flex;
      flex-direction: column;
      padding-left: 10px;
      padding-top: 36px;
      padding-bottom: 14px;
      font-weight: 700;
      font-size: 15px;
      line-height: 267%;
      color: #46A358;
      margin-bottom: 37px; }
      main .main_products_container .category_list .categories ul {
        list-style: none;
        padding-left: 18px; }
        main .main_products_container .category_list .categories ul a {
          font-weight: 400;
          font-size: 15px;
          line-height: 267%;
          color: #3d3d3d;
          text-decoration: none;
          font-family: "cera_proregular", serif; }
      main .main_products_container .category_list .categories h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 89%;
        color: #3d3d3d;
        margin-bottom: 7px;
        padding-top: 14px;
        padding-left: 18px; }
      main .main_products_container .category_list .categories .category {
        max-width: 100%;
        display: block;
        background: #fbfbfb;
        text-decoration: none; }
        main .main_products_container .category_list .categories .category:hover {
          font-weight: 700;
          font-size: 15px;
          line-height: 267%;
          color: #46A358; }
    main .main_products_container .category_list .price_range {
      display: block;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 46px;
      max-width: 226px;
      padding-left: 18px; }
      main .main_products_container .category_list .price_range h3 {
        font-weight: 700;
        font-size: 18px;
        line-height: 89%;
        color: #3d3d3d;
        font-family: "cera_proregular", serif;
        margin-bottom: 29px; }
      main .main_products_container .category_list .price_range .price-slider {
        width: 100%;
        height: 2px;
        -webkit-appearance: none;
        background: #C4ECCC;
        outline: none;
        border: 4px solid rgba(70, 163, 88, 0.2);
        margin-bottom: 21px; }
        main .main_products_container .category_list .price_range .price-slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 16px;
          height: 16px;
          background: #46A358;
          border-radius: 50%;
          cursor: pointer;
          border: 2px solid white;
          box-shadow: 0 0 0 1px #46A358; }
        main .main_products_container .category_list .price_range .price-slider::-moz-range-thumb {
          width: 21px;
          height: 21px;
          background: #46A358;
          cursor: pointer;
          box-shadow: 0 0 0 1px #46A358;
          border-radius: 100%;
          fill: #46A358;
          stroke-width: 3px;
          stroke: #fff; }
    main .main_products_container .category_list .price-values {
      margin-top: 10px;
      font-size: 15px;
      color: #3d3d3d;
      margin-bottom: 16px; }
    main .main_products_container .category_list .filter_button {
      max-width: 90px;
      background-color: #46A358;
      padding: 8px 25px;
      border-radius: 6px;
      margin-bottom: 85px;
      margin-left: 30px; }
      main .main_products_container .category_list .filter_button a {
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        color: #fff;
        font-family: "cera_proregular", serif;
        text-decoration: none; }
      main .main_products_container .category_list .filter_button:hover {
        transform: scale(1.1); }
    main .main_products_container .category_list .size {
      display: flex;
      flex-direction: column;
      padding-left: 18px; }
      main .main_products_container .category_list .size h4 {
        font-weight: 700;
        font-size: 18px;
        line-height: 89%;
        color: #3d3d3d;
        text-align: left;
        font-family: "cera_proregular", serif;
        margin-bottom: 29px; }
      main .main_products_container .category_list .size ul li {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: 30px; }
        main .main_products_container .category_list .size ul li a {
          font-weight: 400;
          font-size: 15px;
          line-height: 267%;
          color: #3d3d3d;
          text-decoration: none;
          font-family: "cera_proregular", serif; }
          main .main_products_container .category_list .size ul li a:hover {
            color: #46A358;
            font-weight: 700; }
    main .main_products_container .category_list .imageSuperSale {
      padding-top: 20px;
      width: 100%;
      height: auto;
      display: block;
      margin-left: -10px; }
  main .main_products_container .product_items {
    background: #ffffff; }
    main .main_products_container .product_items ul a {
      font-weight: 400;
      font-size: 15px;
      line-height: 107%;
      color: #3d3d3d;
      text-decoration: none; }
    main .main_products_container .product_items .product_items_nav {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 31px; }
      main .main_products_container .product_items .product_items_nav ul {
        display: flex;
        list-style: none;
        gap: 40px;
        font-family: "cera_proregular", serif; }
        main .main_products_container .product_items .product_items_nav ul li:after {
          content: "";
          display: block;
          width: 0;
          height: 3px;
          background-color: #46A358;
          margin-top: 7px;
          transition: 0.4s; }
        main .main_products_container .product_items .product_items_nav ul li:hover::after {
          width: 100%; }
        main .main_products_container .product_items .product_items_nav ul li a:hover {
          font-weight: 700;
          font-size: 15px;
          line-height: 107%;
          color: #46A358; }
      main .main_products_container .product_items .product_items_nav p {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 5px; }
    main .main_products_container .product_items .links_to_products {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 90px; }
      main .main_products_container .product_items .links_to_products a {
        text-decoration: none;
        flex-direction: column;
        display: flex;
        margin-bottom: 22px; }
      main .main_products_container .product_items .links_to_products .product_card {
        max-width: 258px;
        height: 350px;
        position: relative;
        overflow: hidden;
        border-top: solid 1px transparent; }
        main .main_products_container .product_items .links_to_products .product_card:hover {
          border-top: solid 1px #46A358;
          transition: 0.4s; }
          main .main_products_container .product_items .links_to_products .product_card:hover ul {
            bottom: 65px; }
        main .main_products_container .product_items .links_to_products .product_card a .product_images {
          max-width: 100%;
          height: auto;
          margin-bottom: 31px; }
        main .main_products_container .product_items .links_to_products .product_card a .product_name {
          font-weight: 400;
          font-size: 16px;
          line-height: 100%;
          color: #3d3d3d;
          text-align: left;
          font-family: "cera_proregular", serif; }
        main .main_products_container .product_items .links_to_products .product_card a .price_style {
          font-weight: 700;
          font-size: 18px;
          line-height: 89%;
          color: #46A358;
          padding-top: 4px;
          font-family: "cera_probold", serif;
          text-align: left; }
        main .main_products_container .product_items .links_to_products .product_card a .price_old_style {
          font-weight: 400;
          font-size: 18px;
          line-height: 89%;
          color: #a5a5a5;
          font-family: "cera_proregular", serif;
          text-align: left;
          text-decoration: line-through;
          padding-left: 5px; }
        main .main_products_container .product_items .links_to_products .product_card ul {
          position: absolute;
          width: 100%;
          display: flex;
          justify-content: center;
          gap: 10px;
          left: 0;
          list-style: none;
          bottom: -65px;
          transition: 0.4s; }
          main .main_products_container .product_items .links_to_products .product_card ul li:first-child a:after {
            display: block;
            content: '';
            background-image: url("../images/shopping_basket.svg");
            width: 20px;
            height: 20px; }
          main .main_products_container .product_items .links_to_products .product_card ul li:first-child a:hover:after {
            background-image: url("../images/shopping_basket_hover.svg");
            transition: 0.4s;
            transform: scale(1.4); }
          main .main_products_container .product_items .links_to_products .product_card ul li:last-of-type a:after {
            display: block;
            content: '';
            background-image: url("../images/search_icon.svg");
            width: 20px;
            height: 20px; }
          main .main_products_container .product_items .links_to_products .product_card ul li:last-of-type a:hover:after {
            background-image: url("../images/search_icon_hover.svg");
            transition: 0.4s;
            transform: scale(1.4); }
          main .main_products_container .product_items .links_to_products .product_card ul li a:after {
            display: block;
            content: '';
            background-image: url("../images/heart.svg");
            background-color: rgba(246, 236, 233, 0.43);
            width: 20px;
            height: 20px; }
          main .main_products_container .product_items .links_to_products .product_card ul li a:hover:after {
            background-image: url("../images/heart_hover.svg");
            transition: 0.4s;
            transform: scale(1.4); }
        main .main_products_container .product_items .links_to_products .product_card .discount {
          background-color: #46A358;
          padding: 14px;
          position: absolute;
          top: 30px;
          left: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 100%;
          color: #fff;
          font-family: "cera_probold", serif; }
    main .main_products_container .product_items .paging {
      justify-content: flex-end;
      display: flex;
      margin-bottom: 94px; }
      main .main_products_container .product_items .paging ul {
        list-style: none;
        display: flex;
        gap: 10px; }
        main .main_products_container .product_items .paging ul li:last-of-type a:after {
          display: block;
          content: '';
          background-image: url("../images/ArrowRight.svg");
          width: 8px;
          height: 12px; }
        main .main_products_container .product_items .paging ul li:last-of-type a:hover:after {
          background-image: url("../images/ArrowRight_hover.svg"); }
      main .main_products_container .product_items .paging .number_box {
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        width: 35px;
        height: 35px;
        display: inline-flex;
        padding: 10px 0;
        text-align: center;
        font-weight: 300;
        font-size: 18px;
        line-height: 89%;
        color: #3d3d3d;
        text-decoration: none;
        justify-content: center;
        font-family: "cera_proregular", serif; }
        main .main_products_container .product_items .paging .number_box:hover {
          background-color: #46A358;
          color: #fbfbfb;
          font-family: "cera_probold", serif; }
main .main_hot_products_container {
  max-width: 1200px;
  margin: auto;
  display: flex; }
  main .main_hot_products_container .hot_product_1, main .main_hot_products_container .hot_product_2 {
    width: 100%;
    position: relative;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 138px; }
  main .main_hot_products_container .container_for_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 37px 35px;
    width: 50%;
    margin-left: auto; }
    main .main_hot_products_container .container_for_text h3 {
      font-weight: 900;
      font-size: 18px;
      line-height: 133%;
      text-transform: uppercase;
      text-align: right;
      color: #3d3d3d;
      font-family: "cera_probold", serif;
      margin-bottom: 8px; }
    main .main_hot_products_container .container_for_text p {
      font-weight: 400;
      font-size: 14px;
      line-height: 171%;
      text-align: right;
      color: #727272;
      font-family: "cera_proregular", serif;
      margin-bottom: 25px;
      flex-wrap: wrap; }
    main .main_hot_products_container .container_for_text .find_more_button {
      line-height: 100%;
      background-color: #46A358;
      font-weight: 500;
      font-size: 16px;
      color: #fff;
      padding: 11px 28px;
      border-radius: 6px;
      text-decoration: none;
      margin-bottom: 20px;
      font-family: "cera_proregular", serif;
      text-align: center;
      display: inline-flex;
      align-items: center;
      gap: 2px;
      align-self: flex-end;
      transition: 0.4s; }
      main .main_hot_products_container .container_for_text .find_more_button:after {
        content: '';
        display: flex;
        width: 18px;
        height: 18px;
        background-image: url("../images/ArrowRight2.svg");
        background-repeat: no-repeat;
        margin-left: 10px; }
      main .main_hot_products_container .container_for_text .find_more_button:hover {
        scale: 1.1; }
    main .main_hot_products_container .container_for_text .image_container {
      max-width: 50%;
      content: '';
      position: absolute;
      bottom: 20px;
      left: 0;
      z-index: 5; }
main .text_container {
  max-width: 1200px;
  margin: auto; }
  main .text_container p {
    text-align: center;
    margin-bottom: 5px; }
  main .text_container h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    font-family: "cera_probold", serif;
    margin-bottom: 15px; }
  main .text_container .container_for_productItems2 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center; }
    main .text_container .container_for_productItems2 .product_items2 {
      background: #fbfbfb;
      justify-content: space-between;
      padding: 20px;
      margin-bottom: 100px;
      width: 100%; }
      main .text_container .container_for_productItems2 .product_items2 a {
        text-decoration: none;
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        color: #3d3d3d;
        font-family: "cera_probold", serif;
        justify-content: left;
        display: flex;
        gap: 2px; }
        main .text_container .container_for_productItems2 .product_items2 a:hover {
          color: green; }
          main .text_container .container_for_productItems2 .product_items2 a:hover:after {
            display: block;
            content: '';
            background-image: url("../images/ArrowRight2_green.svg");
            width: 18px;
            height: 18px;
            margin-left: 10px; }
      main .text_container .container_for_productItems2 .product_items2 h5 {
        font-weight: 500;
        font-size: 14px;
        line-height: 114%;
        color: #46A358;
        font-family: "cera_proregular", serif;
        text-align: left; }
      main .text_container .container_for_productItems2 .product_items2 h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #3d3d3d;
        font-family: "cera_proregular", serif;
        text-align: left;
        text-transform: none; }
      main .text_container .container_for_productItems2 .product_items2 p {
        font-weight: 400;
        font-size: 14px;
        line-height: 157%;
        color: #727272;
        font-family: "cera_proregular", serif;
        text-align: left;
        display: inline-flex;
        align-items: flex-end;
        gap: 2px; }
      main .text_container .container_for_productItems2 .product_items2 .read_more:after {
        display: block;
        content: '';
        width: 18px;
        height: 18px;
        background-image: url("../images/ArrowRight2_black.svg  ");
        background-repeat: no-repeat;
        margin-left: 10px; }

/*# sourceMappingURL=main.css.map */
