$font-family-cera_proregular: 'cera_proregular', serif;
$font-family-cera_probold: 'cera_probold', serif;
$font-family-cera_proitalic: 'cera_proitalic', serif;
$primary_green-color: #46A358;
$primary_white-color: #edf6ee;
$text-color: #3d3d3d;
$secondary-text-color: #727272;

@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cerapro-bold-webfont.eot');
  src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-bold-webfont.woff') format('woff'),
  url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cerapro-regular-webfont.eot');
  src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-regular-webfont.woff') format('woff'),
  url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cera_proitalic';
  src: url('../fonts/cerapro-italic-webfont.eot');
  src: url('../fonts/cerapro-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-italic-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-italic-webfont.woff') format('woff'),
  url('../fonts/cerapro-italic-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-italic-webfont.svg#cera_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}
main {
  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $text-color;
    font-family: $font-family-cera_proregular;
  }

  h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: $text-color;
    text-align: left;
    margin-bottom: 7px;
    font-family: $font-family-cera_probold;
  }

  section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: $secondary-text-color;
    margin-bottom: 44px;
    font-family: $font-family-cera_proregular;
  }

  .main_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);

    .main_text_container {
      width: 100%;
    }

    .plants_img {
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .shopping_link {
      background-color: $primary_green-color;
      font-weight: 700;
      font-size: 16px;
      line-height: 125%;
      text-transform: uppercase;
      color: #fff;
      border-radius: 6px;
      padding: 9px 27px;
      margin-bottom: 85px;
      text-decoration: none;
      font-family: $font-family-cera_proregular;

      &:hover {
        background-color: #3d8b4e;
      }
    }
  }

  .main_products_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 40px;

    .category_list {
      max-width: 100%;
      background: #fbfbfb;
      font-family: $font-family-cera_proregular;
      font-weight: 700;
      font-size: 18px;
      line-height: 89%;
      color: $text-color;

      .categories {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-top: 36px;
        padding-bottom: 14px;
        font-weight: 700;
        font-size: 15px;
        line-height: 267%;
        color: $primary_green-color;
        margin-bottom: 37px;

        ul {
          list-style: none;
          padding-left: 18px;

          a {
            font-weight: 400;
            font-size: 15px;
            line-height: 267%;
            color: $text-color;
            text-decoration: none;
            font-family: $font-family-cera_proregular;
          }
        }

        h4 {
          font-weight: 700;
          font-size: 18px;
          line-height: 89%;
          color: $text-color;
          margin-bottom: 7px;
          padding-top: 14px;
          padding-left: 18px;
        }

        .category {
          max-width: 100%;
          display: block;
          background: #fbfbfb;
          text-decoration: none;

          &:hover {
            font-weight: 700;
            font-size: 15px;
            line-height: 267%;
            color: $primary_green-color;
          }
        }
      }

      .price_range {
        display: block;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 46px;
        max-width: 226px;
        padding-left: 18px;

        h3 {
          font-weight: 700;
          font-size: 18px;
          line-height: 89%;
          color: $text-color;
          font-family: $font-family-cera_proregular;
          margin-bottom: 29px;
        }

        .price-slider {
          width: 100%;
          height: 2px;
          -webkit-appearance: none;
          background: #C4ECCC;
          outline: none;
          border: 4px solid rgba(70, 163, 88, 0.2);
          margin-bottom: 21px;

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 16px;
            height: 16px;
            background: $primary_green-color;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid white;
            box-shadow: 0 0 0 1px $primary_green-color;
          }

          &::-moz-range-thumb {
            width: 21px;
            height: 21px;
            background: $primary_green-color;
            cursor: pointer;
            box-shadow: 0 0 0 1px $primary_green-color;
            border-radius: 100%;
            fill: $primary_green-color;
            stroke-width: 3px;
            stroke: #fff;
          }
        }
      }

      .price-values {
        margin-top: 10px;
        font-size: 15px;
        color: $text-color;
        margin-bottom: 16px;
      }

      .filter_button {
        max-width: 90px;
        background-color: $primary_green-color;
        padding: 8px 25px;
        border-radius: 6px;
        margin-bottom: 85px;
        margin-left: 30px;

        a {
          font-weight: 700;
          font-size: 16px;
          line-height: 125%;
          color: #fff;
          font-family: $font-family-cera_proregular;
          text-decoration: none;
        }

        &:hover {
          transform: scale(1.1);
        }
      }


      .size {
        display: flex;
        flex-direction: column;
        padding-left: 18px;

        h4 {
          font-weight: 700;
          font-size: 18px;
          line-height: 89%;
          color: $text-color;
          text-align: left;
          font-family: $font-family-cera_proregular;
          margin-bottom: 29px;
        }

        ul li {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-left: 30px;

          a {
            font-weight: 400;
            font-size: 15px;
            line-height: 267%;
            color: $text-color;
            text-decoration: none;
            font-family: $font-family-cera_proregular;

            &:hover {
              color: $primary_green-color;
              font-weight: 700;
            }
          }
        }
      }

      .imageSuperSale {
        padding-top: 20px;
        width: 100%;
        height: auto;
        display: block;
        margin-left: -10px;
      }

    }

    .product_items {
      background: #ffffff;

      ul a {
        font-weight: 400;
        font-size: 15px;
        line-height: 107%;
        color: $text-color;
        text-decoration: none;
      }

      .product_items_nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 31px;

        ul {
          display: flex;
          list-style: none;
          gap: 40px;
          font-family: $font-family-cera_proregular;

          li {
            &:after {
              content: "";
              display: block;
              width: 0;
              height: 3px;
              background-color: $primary_green-color;
              margin-top: 7px;
              transition: 0.4s;
            }

            &:hover::after {
              width: 100%;
            }

            a:hover {
              font-weight: 700;
              font-size: 15px;
              line-height: 107%;
              color: $primary_green-color;
            }
          }
        }

        p {
          margin: 0;
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      .links_to_products {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 90px;

        a {
          text-decoration: none;
          flex-direction: column;
          display: flex;
          margin-bottom: 22px;
        }

        .product_card {
          max-width: 258px;
          height: 350px;
          position: relative;
          overflow: hidden;
          border-top: solid 1px transparent;

          &:hover {
            border-top: solid 1px $primary_green-color;
            transition: 0.4s;

            ul {
              bottom: 65px;
            }
          }

          a {
            .product_images {
              max-width: 100%;
              height: auto;
              margin-bottom: 31px;
            }

            .product_name {
              font-weight: 400;
              font-size: 16px;
              line-height: 100%;
              color: $text-color;
              text-align: left;
              font-family: $font-family-cera_proregular;
            }

            .price_style {
              font-weight: 700;
              font-size: 18px;
              line-height: 89%;
              color: $primary_green-color;
              padding-top: 4px;
              font-family: $font-family-cera_probold;
              text-align: left;
            }

            .price_old_style {
              font-weight: 400;
              font-size: 18px;
              line-height: 89%;
              color: #a5a5a5;
              font-family: $font-family-cera_proregular;
              text-align: left;
              text-decoration: line-through;
              padding-left: 5px;
            }
          }

          ul {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;
            left: 0;
            list-style: none;
            bottom: -65px;
            transition: 0.4s;

            li {
              &:first-child {
                a {
                  &:after {
                    display: block;
                    content: '';
                    background-image: url("../images/shopping_basket.svg");
                    width: 20px;
                    height: 20px;
                  }

                  &:hover:after {
                    background-image: url("../images/shopping_basket_hover.svg");
                    transition: 0.4s;
                    transform: scale(1.4);
                  }
                }
              }

              &:last-of-type {
                a {
                  &:after {
                    display: block;
                    content: '';
                    background-image: url("../images/search_icon.svg");
                    width: 20px;
                    height: 20px;
                  }

                  &:hover:after {
                    background-image: url("../images/search_icon_hover.svg");
                    transition: 0.4s;
                    transform: scale(1.4);
                  }
                }
              }

              a {
                &:after {
                  display: block;
                  content: '';
                  background-image: url("../images/heart.svg");
                  background-color: rgba(246, 236, 233, 0.43);
                  width: 20px;
                  height: 20px;
                }

                &:hover:after {
                  background-image: url("../images/heart_hover.svg");
                  transition: 0.4s;
                  transform: scale(1.4);
                }
              }
            }
          }

          .discount {
            background-color: $primary_green-color;
            padding: 14px;
            position: absolute;
            top: 30px;
            left: 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            color: #fff;
            font-family: $font-family-cera_probold;
          }
        }
      }

      .paging {
        justify-content: flex-end;
        display: flex;
        margin-bottom: 94px;

        ul {
          list-style: none;
          display: flex;
          gap: 10px;

          li {
            &:last-of-type a {
              &:after {
                display: block;
                content: '';
                background-image: url("../images/ArrowRight.svg");
                width: 8px;
                height: 12px;
              }

              &:hover:after {
                background-image: url("../images/ArrowRight_hover.svg");
              }
            }
          }
        }

        .number_box {
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          width: 35px;
          height: 35px;
          display: inline-flex;
          padding: 10px 0;
          text-align: center;
          font-weight: 300;
          font-size: 18px;
          line-height: 89%;
          color: $text-color;
          text-decoration: none;
          justify-content: center;
          font-family: $font-family-cera_proregular;

          &:hover {
            background-color: $primary_green-color;
            color: #fbfbfb;
            font-family: $font-family-cera_probold;
          }
        }
      }

    }
  }

  .main_hot_products_container {
    max-width: 1200px;
    margin: auto;
    display: flex;


    .hot_product_1, .hot_product_2 {
      width: 100%;
      position: relative;
      background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
      display: flex;
      justify-content: flex-end;
      margin-bottom: 138px;
    }

    .container_for_text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;
      padding: 37px 35px;
      width: 50%;
      margin-left: auto;


      h3 {
        font-weight: 900;
        font-size: 18px;
        line-height: 133%;
        text-transform: uppercase;
        text-align: right;
        color: $text-color;
        font-family: $font-family-cera_probold;
        margin-bottom: 8px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        text-align: right;
        color: $secondary-text-color;
        font-family: $font-family-cera_proregular;
        margin-bottom: 25px;
        flex-wrap: wrap;
      }

      .find_more_button {
        line-height: 100%;
        background-color: $primary_green-color;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        padding: 11px 28px;
        border-radius: 6px;
        text-decoration: none;
        margin-bottom: 20px;
        font-family: $font-family-cera_proregular;
        text-align: center;
        display: inline-flex;
        align-items: center;
        gap: 2px;
        align-self: flex-end;
        transition: 0.4s;

        &:after {
          content: '';
          display: flex;
          width: 18px;
          height: 18px;
          background-image: url("../images/ArrowRight2.svg");
          background-repeat: no-repeat;
          margin-left: 10px;
        }

        &:hover {
          scale: 1.1;
        }
      }

      .image_container {
        max-width: 50%;
        content: '';
        position: absolute;
        bottom: 20px;
        left: 0;
        z-index: 5;
      }
    }
  }

  .text_container {
    max-width: 1200px;
    margin: auto;

    p {
      text-align: center;
      margin-bottom: 5px;
    }

    h3 {
      font-weight: 700;
      font-size: 30px;
      line-height: 53%;
      text-align: center;
      color: $text-color;
      font-family: $font-family-cera_probold;
      margin-bottom: 15px;
    }

    .container_for_productItems2 {
      max-width: 1200px;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      .product_items2 {
        background: #fbfbfb;
        justify-content: space-between;
        padding: 20px;
        margin-bottom: 100px;
        width: 100%;

        a {
          text-decoration: none;
          font-weight: 500;
          font-size: 14px;
          line-height: 114%;
          color: $text-color;
          font-family: $font-family-cera_probold;
          justify-content: left;
          display: flex;
          gap: 2px;

          &:hover {
            color: green;

            &:after {
              display: block;
              content: '';
              background-image: url("../images/ArrowRight2_green.svg");
              width: 18px;
              height: 18px;
              margin-left: 10px;
            }
          }
        }

        h5 {
          font-weight: 500;
          font-size: 14px;
          line-height: 114%;
          color: $primary_green-color;
          font-family: $font-family-cera_proregular;
          text-align: left;
        }

        h3 {
          font-weight: 700;
          font-size: 20px;
          line-height: 130%;
          color: $text-color;
          font-family: $font-family-cera_proregular;
          text-align: left;
          text-transform: none;
        }

        p {
          font-weight: 400;
          font-size: 14px;
          line-height: 157%;
          color: $secondary-text-color;
          font-family: $font-family-cera_proregular;
          text-align: left;
          display: inline-flex;
          align-items: flex-end;
          gap: 2px;
        }

        .read_more {
          &:after {
            display: block;
            content: '';
            width: 18px;
            height: 18px;
            background-image: url("../images/ArrowRight2_black.svg  ");
            background-repeat: no-repeat;
            margin-left: 10px;
          }
        }
      }
    }
  }

}