@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap');

$font-family-cera_proregular: 'cera_proregular', serif;
$font-family-cera_probold: 'cera_probold', serif;
$font-family-cera_proitalic: 'cera_proitalic', serif;
$primary_green-color: #46A358;
$primary_white-color: #edf6ee;
$text-color: #3d3d3d;
$secondary-text-color: #727272;

@font-face {
  font-family: 'cera_probold';
  src: url('../fonts/cerapro-bold-webfont.eot');
  src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-bold-webfont.woff') format('woff'),
  url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cera_proregular';
  src: url('../fonts/cerapro-regular-webfont.eot');
  src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-regular-webfont.woff') format('woff'),
  url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'cera_proitalic';
  src: url('../fonts/cerapro-italic-webfont.eot');
  src: url('../fonts/cerapro-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/cerapro-italic-webfont.woff2') format('woff2'),
  url('../fonts/cerapro-italic-webfont.woff') format('woff'),
  url('../fonts/cerapro-italic-webfont.ttf') format('truetype'),
  url('../fonts/cerapro-italic-webfont.svg#cera_proitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

/*HEADER*/
@import "header.css";

/*MAIN*/
@import "main.css";

/*FOOTER*/
@import "footer.scss";


.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid $primary_green-color;
  border-radius: 50%;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8;
  animation: loading 1s linear 3, /* Rotation animation: 3 times */
  fadeOut 0.1s ease-out 2.9s forwards; /* Fade out near the end of the last rotation */
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /* Makes the element completely undetectable after fading */
  }
}






