@font-face {
    font-family: 'cera_probold';
    src: url('../fonts/cerapro-bold-webfont.eot');
    src: url('../fonts/cerapro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-bold-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-bold-webfont.woff') format('woff'),
    url('../fonts/cerapro-bold-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-bold-webfont.svg#cera_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cera_proregular';
    src: url('../fonts/cerapro-regular-webfont.eot');
    src: url('../fonts/cerapro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-regular-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-regular-webfont.woff') format('woff'),
    url('../fonts/cerapro-regular-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-regular-webfont.svg#cera_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'cera_proitalic';
    src: url('../fonts/cerapro-italic-webfont.eot');
    src: url('../fonts/cerapro-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/cerapro-italic-webfont.woff2') format('woff2'),
    url('../fonts/cerapro-italic-webfont.woff') format('woff'),
    url('../fonts/cerapro-italic-webfont.ttf') format('truetype'),
    url('../fonts/cerapro-italic-webfont.svg#cera_proitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.registration_container {
    max-width: 500px;
    border: solid 1px silver;
    margin: auto;
    padding: 52px 100px 50px;
    border-bottom: solid 10px #46a358;
    align-items: center;
}

.d-flex {
    display: flex;
}

.login_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 80%;
    color: #3d3d3d;
    margin-bottom: 40px;
    text-align: center;

}

.green_color {
    color: #46a358;
}

.registration_form {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 14px;
}

.form_input {
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 12px 14px;
}

.form_input_marginB_16 {
    margin-bottom: 16px;
}

.form_input_marginB_38 {
    margin-bottom: 38px;
}

.submit_button {
    width: 100%;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 16px 119px;
    margin-bottom: 39px;
    background-color: #46a358;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
    text-align: center;
}

.register_options {
    font-weight: 400;
    font-size: 13px;
    line-height: 123%;
    color: #3d3d3d;
    margin-bottom: 27px;
    text-align: center;
}

.google_link {
    width: 100%;
    gap: 9px;
    border: 1px solid #eaeaea;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    padding: 10px 0;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.facebook_link {
    width: 100%;
    gap: 9px;
    border: 1px solid #eaeaea;
    margin-bottom: 40px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 123%;
    color: #727272;
    padding: 10px 0;
    text-decoration: none;
    align-items: center;
    text-align: center;
    justify-content: center;
}

header {
    padding-top: 30px;
    margin-bottom: 10px;
}

.nav_container {
    max-width: 1200px;
    margin: auto;
    border-bottom: 0.30px solid rgba(70, 163, 88, 0.5);
    text-decoration: none;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 50px;
}

.navigation {
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_proregular', serif;
}

.navigation:hover {
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
}

.dropdown {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #edf6ee;
    font-weight: 400;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
    min-width: 188px;
    left: -55px;
    top: 67px;
    overflow: hidden;
    height: 43px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    transition: 0.9s;
}

.submenu li {
    width: 100%;
    background-color: #edf6ee;
    padding: 7px 14px;
}

.submenu li a {
    text-decoration: none;
}

.submenu li:hover {
    font-weight: 700;
    font-size: 16px;
    color: #3d3d3d;
    background-color: #1a712a;
}

.dropdown:hover > .submenu {
    display: flex;
    flex-direction: column;
}

.submenu-2 {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #edf6ee;
    min-width: 188px;
}

.has-arrow:hover > .submenu-2 {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_proregular', serif;
    min-width: 178px;
    position: absolute;
    left: 188px;
    top: -205px;
    z-index: 2;
}

.has-arrow {
    position: relative;
}

.submenu-2 li:hover a {
    color: white !important;
    font-weight: 700;
}

.arrow-image {
    position: absolute;
    top: 25%;
    right: 10px;
}

.submenu li:hover .arrow-image {
    content: url("../images/small_whiteArrowRight.svg");
}

.dropdown:hover .submenu {
    height: 250px;
    overflow: visible;
}

header nav ul li ul {
    gap: 0;
}

header nav ul li:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #46A358;
    margin-top: 32px;
    transition: 0.4s;
}

.submenu li .submenu-2 li a, .submenu li a {
    color: black;
}

.submenu > li:hover a {
    color: #ffffff;
}

header nav ul li:hover::after {
    width: 100%;
}

.login_link {
    line-height: 100%;
    background-color: #46A358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 7px 17px;
    gap: 4px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    margin-bottom: 20px;
    font-family: 'cera_proregular', serif;
}

.main_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
}

.plants_img {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main_text_container {
    width: 100%;
}

.text_container {
    max-width: 1200px;
    margin: auto;
}

main h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
}

main h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    text-align: left;
    margin-bottom: 7px;
    font-family: 'cera_probold', serif;
}

main section p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
    margin-bottom: 44px;
    font-family: 'cera_proregular', serif;
}

.shopping_link {
    background-color: #46A358;
    font-weight: 700;
    font-size: 16px;
    line-height: 125%;
    text-transform: uppercase;
    color: #fff;
    border-radius: 6px;
    padding: 9px 27px;
    margin-bottom: 85px;
    text-decoration: none;
    font-family: 'cera_proregular', serif;
}

header nav ul {
    list-style: none;
}

.main_products_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 40px;
}

.category_list {
    max-width: 100%;
    background: #fbfbfb;
    font-family: 'cera_proregular', serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
}

.category_list ul {
    list-style: none;
    padding-left: 18px;
}

.category_list ul a {
    font-weight: 400;
    font-size: 15px;
    line-height: 267%;
    color: #3d3d3d;
    text-decoration: none;
    font-family: 'cera_proregular', serif;
}

.category {
    max-width: 100%;
    display: block;
    background: #fbfbfb;
    text-decoration: none;
}

.category:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 267%;
    color: #46a358;
}

main section h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    margin-bottom: 7px;
    padding-top: 14px;
    padding-left: 18px;
}

.imageSuperSale {
    padding-top: 378px;
    width: 100%;
    height: auto;
    display: block;
}

.product_items {
    background: #ffffff;

}

.product_items_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 31px;
}

.product_items_nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-family: 'cera_proregular', serif;
}

.product_items_nav ul li:after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #46A358;
    margin-top: 7px;
    transition: 0.4s;
}

.product_items_nav ul li:hover::after {
    width: 100%;
}

.product_items_nav ul li a:hover {
    font-weight: 700;
    font-size: 15px;
    line-height: 107%;
    color: #46a358;
}

.product_items_nav p {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.product_items ul a {
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: #3d3d3d;
    text-decoration: none;
}

.links_to_products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;

}

.links_to_products a {
    text-decoration: none;
    flex-direction: column;
    display: flex;
    margin-bottom: 22px;
}

.discount {
    background-color: #46A358;
    padding: 14px;
    position: absolute;
    top: 30px;
    left: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fff;
}

.product_card {
    max-width: 258px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-top: solid 1px transparent;
}

.product_card:hover {
    border-top: solid 1px #46a358;
}

.product_card ul li:first-child a:after {
    display: block;
    content: '';
    background-image: url("../images/shopping_basket.svg");
    width: 20px;
    height: 20px;
}

.product_card ul li a:after {
    display: block;
    content: '';
    background-image: url("../images/heart.svg");
    background-color: rgba(246, 236, 233, 0.43);
    width: 20px;
    height: 20px;
}

.product_card ul li:last-of-type a:after {
    display: block;
    content: '';
    background-image: url("../images/search_icon.svg");
    width: 20px;
    height: 20px;
}

.product_card ul li:first-child a:hover:after {
    background-image: url("../images/shopping_basket_hover.svg");
}

.product_card ul li a:hover:after {
    background-image: url("../images/heart_hover.svg");
}

.product_card ul li:last-of-type a:hover:after {
    background-image: url("../images/search_icon_hover.svg");
}

.product_card ul {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    left: 0;
    list-style: none;
    bottom: -65px;
    transition: 0.4s;
}

.product_card:hover ul {
    bottom: 65px;
}

.product_images {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
}

.product_name {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #3d3d3d;
    text-align: left;
    font-family: 'cera_proregular', serif;
}

.paging {
    justify-content: flex-end;
    display: flex;
    margin-bottom: 94px;
}

.paging ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.paging ul li:last-of-type a:after {
    display: block;
    content: '';
    background-image: url("../images/ArrowRight.svg");
    width: 8px;
    height: 12px;
}

.paging ul li:last-of-type a:hover:after {
    background-image: url("../images/ArrowRight_hover.svg");
}

.number_box {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 35px;
    height: 35px;
    display: inline-flex;
    padding: 10px 0;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    text-decoration: none;
    justify-content: center;
    font-family: 'cera_proregular', serif;

}

.number_box:hover {
    background-color: #46A358;
    color: #fbfbfb;
    font-family: 'cera_probold', serif;
}

.product_images {
    margin-bottom: 31px;
    line-height: 89%;
}

.price_style {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #46a358;
    padding-top: 4px;
    font-family: 'cera_probold', serif;
    text-align: left;
}

.price_old_style {
    font-weight: 400;
    font-size: 18px;
    line-height: 89%;
    color: #a5a5a5;
    font-family: 'cera_proregular', serif;
    text-align: left;
    text-decoration: line-through;
}

.main_hot_products_container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
}

.main_hot_products_container h3 {
    font-weight: 900;
    font-size: 18px;
    line-height: 133%;
    text-transform: uppercase;
    text-align: right;
    color: #3d3d3d;
    font-family: 'cera_probold', serif;
    margin-bottom: 8px;
}

.main_hot_products_container p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: right;
    color: #727272;
    font-family: 'cera_proregular', serif;
    margin-bottom: 25px;
    flex-wrap: wrap;
}

.hot_product_1 {
    width: 100%;
    position: relative;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
}

.container_for_text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 37px 35px;
    width: 100%;
}

.image_container {
    max-width: 100%;
}

.hot_product_2 {
    width: 100%;
    position: relative;
    background: linear-gradient(135deg, rgba(245, 245, 245, 0.5) 0%, rgba(245, 245, 245, 0.5) 100%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 138px;
}


.find_more_button {
    line-height: 100%;
    background-color: #46A358;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 11px 28px;
    border-radius: 6px;
    text-decoration: none;
    margin-bottom: 20px;
    font-family: 'cera_proregular', serif;
    text-align: center;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    align-self: flex-end;
}

.image_container image {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    left: 0;
    list-style: none;
    bottom: 25px;
}

.text_container p {
    text-align: center;
    margin-bottom: 5px;
}

.text_container h3 {
    font-weight: 700;
    font-size: 30px;
    line-height: 53%;
    text-align: center;
    color: #3d3d3d;
    font-family: 'cera_probold', serif;
    margin-bottom: 15px;
}

.container_for_productItems2 {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product_items2 {
    width: 100%;
}

.product_items2 a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #3d3d3d;
    font-family: 'cera_probold', serif;
    justify-content: left;
    display: flex;
    gap: 2px;
}

.product_items2 a:hover {
    color: green;
}

.product_items2 h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    color: #46a358;
    font-family: 'cera_proregular', serif;
    text-align: left;
}

.product_items2 h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
    text-align: left;
    text-transform: none;
}

.product_items2 p {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular', serif;
    text-align: left;
    display: inline-flex;
    align-items: flex-end;
    gap: 2px;
}

.product_items2 {
    background: #fbfbfb;
    max-width: 100%;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 100px;
}

.main_footer_container {
    max-width: 1200px;
    margin: auto;
    padding-left: 40px;
}

.first_footer_container {
    width: 100%;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 62px;
    margin-bottom: 24px;
    padding: 25px;
}

.footer_images {
    max-width: 100%;
}

.footer_images img {
    padding: 31px 48px 19px 7px;
}

.join_form {
    max-width: 100%;
}

footer div .footer_images h3 {
    font-weight: 700;
    font-size: 17px;
    line-height: 94%;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
}

footer div .footer_images p {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #727272;
    font-family: 'cera_proregular', serif;
}

.join_form input {
    width: 100%;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    padding-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
}

.join_form button {
    max-width: 85px;
    background-color: #46A358;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #fff;
    font-family: 'cera_proregular', serif;
    padding: 12px 25px;
}

.join_form p {
    font-weight: 400;
    font-size: 13px;
    line-height: 169%;
    color: #727272;
    font-family: 'cera_proregular', serif;
}

.join_form form {
    display: flex;
    margin-bottom: 17px;
}

.join_form h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
    margin-bottom: 18px;
}

.second_footer_container {
    width: 100%;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 62px;
    margin-bottom: 24px;
    padding: 25px;
    background: linear-gradient(90deg, #edf6ef 0%, #52c368 100%);
}

.address {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}

.address h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
}
.third_footer_container {
    width: 100%;
    background: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 62px;
    margin-bottom: 24px;
    padding: 25px;
}
.third_footer_container h3{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
    padding-bottom: 8px;
}
.third_footer_container ul li a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 214%;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
}
.third_footer_container ul{
    list-style: none;
}
.third_footer_container ul li{
    margin-bottom: 10px;
}
.social_media h3{
    padding-bottom: 33px;
}
.social_media h2{
    font-weight: 700;
    font-size: 18px;
    line-height: 89%;
    color: #3d3d3d;
    font-family: 'cera_proregular', serif;
    padding-bottom: 13px;
    padding-top:18px;
}
 .rights {
     font-weight: 400;
     font-size: 14px;
     line-height: 214%;
     color: #3d3d3d;
     font-family: 'cera_proregular', serif;
     text-align: center;
 }